<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Prognoza pogody{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <a href="szczecin">Szczecin</a>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="js/test.js"></script>
        {% endblock %}
    </body>
</html>
